URxvt*scrollBar: false
URxvt*font: xft:PragmataPro Mono:size=24.5
!URxvt*cursorColor: rgb:80/00/00
URxvt*letterSpace: -2

Xft.dpi: 192
! special
*.foreground:   #cbe3e7
*.background:   #000000
*.cursorColor:  #fbfcfc

! black
*.color8:       #565575
*.color0:       #100e23

! red
*.color9:       #ff8080
*.color1:       #ff5458

! green
*.color10:       #95ffa4
*.color2:      #62d196

! yellow
*.color11:       #ffe9aa
*.color3:      #ffb378

! blue
*.color12:       #91ddff
*.color4:      #65b2ff

! magenta
*.color13:       #c991e1
*.color5:      #906cff

! cyan
*.color14:       #aaffe4
*.color6:      #63f2f1

! white
*.color15:       #cbe3e7
*.color7:      #a6b3cc

Xcursor.theme:	Neutral_Plus
Xcursor.size:	70
